* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: orange;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}


.container {
  max-width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height:100vh;
  background-color: orange;
}

.box {
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  background-color: white;
  width: 90%;
  min-height: 20%;
  max-height: 80%;
  padding: 20px 10px;
}

input[type="text"], input[type="number"] {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.4rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
}

button:hover {
  background-color: #666;
}

ul {
  max-height: 90%;
  overflow-y: auto;
  width: 100%;
  padding-left: 20px;
}

li {
  list-style: none;
  max-width: 95%;
  font-size: 1.6rem;
  position: relative;
  padding-right: 40px;
  line-height: 1.2;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;  /* Separator line */
}

li:last-child {
  border-bottom: none;
}

li:last-child {
  border-bottom: none;
}

li span {
  flex: 1;
  min-width: 0;
  margin-right: 60px;
  overflow-wrap: break-word;
}

.delete {
  display: flex;
  align-self: center;
  justify-content: center;
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #999;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
}

#bookForm {
  margin-top: 10px;
}

.bookHeader {
  font-size: 2rem;
  margin-bottom: 10px;
  /* position: sticky; 
  top: 0; 
  z-index: 1;
  background-color: white;  */ 
  padding: 5px 0;
}

@media only screen and (max-width: 758px) {

  li {
    font-size: 1rem;
  }

  .bookHeader {
    font-size: 1.6rem;
  }

  .container {
      max-width: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1;
      height:100vh;
      background-color: orange;
  }

  .input {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0px;
  }

  button {
      display: none;
  }

  input[type="text"], input[type="number"] {
    font-size: 1.2rem;
      width: 100%;
  }

  .input form {
    width: 100%;
}
}
